{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">Receipts</a>                
                </li>
                <li>
                    <a href="{% url 'receipt_create' %}">Create receipt</a>
                </li>
                <li>
                    <a href="{% url 'list_accounts' %}">Accounts</a>
                </li>
                <li>
                    <a href="{% url 'account_create' %}">Create account</a>
                </li>
                <li>
                    <a href="{% url 'categories_list' %}">Categories</a>
                </li>
                <li>
                    <a href="{% url 'category_create' %}">Create category</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>                     
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>                    
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>