{% extends 'base.html' %}

{% block title %}Logout{% endblock title %}

{% block content %}
<main class="login">
    <h1>Do you want to logout?</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Logout</button>
    </form>
</main>
{% endblock content %}