{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<main class="login">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
    </form>
</main>
{% endblock content %}