{% extends 'base.html' %}

{% block title %}SignUp{% endblock title %}

{% block content %}
<main class="login">
    <h1>Please, SignUp</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Logout</button>
    </form>
</main>
{% endblock content %}