{% extends 'base.html' %}

{% block title %}Create{% endblock title %}

{% block content %}
<main class="account">
    <h1>Create Account</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Create</button>
      </div>
    </form>
  </main>
{% endblock content %}