header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

table, th, td {    
    border-collapse: collapse;
    margin: auto;
    border: solid black 2px;
    max-width: 800px;
    min-width: 100px;
}

h1 {
    text-align: center;
    padding-top: 40px;
}